# UE5 generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
*.sln
*.VC.db
*.VC.opendb

# StarterContent (available via UE5 template, too large for git)
Content/StarterContent/
